@using FluentNHibernate.Testing.Values
@using Progas.Portal.UI.Helpers
@using Progas.Portal.ViewModel
@model PedidoVendaCadastroVm


<title>@ViewBag.Title</title>

<link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.common.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.default.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/jquery.loadmask.css")" rel="stylesheet" />

<div class="paginaCadastro">
    <fieldset>
        <legend>Pesquisa Cotação</legend> 
        <div id="Copiar" class="divBotaoCopiar linha">
            <div class="coluna4">
                @Html.LabelFor(x => x.id_cotacao)
                @Html.TextBox("IdDaCotacaoParaCopiar", "", new { @class = "campopequeno" })
                <input type="button" id="btnCopiar" value="Copiar" class="blue" />
                <input type="button" id="btnNovo"   value="Novo"   class="blue" />
            </div>
            <div class="coluna4">
                @Html.Label("Nº da Cotação Atual")
                @Html.TextBoxFor(x => x.id_cotacao,new{@readonly=true,@class="campoDesabilitado campomedio"})
            </div>
            <div class="coluna4">
                @Html.LabelFor(x => x.status)
                @Html.TextBoxFor(x => x.status,new{@readonly=true,@class="campoDesabilitado campomedio"})
            </div>
            <div class="coluna4">
                @Html.LabelFor(x => x.vlrtot)
                @Html.TextBoxFor(x => x.vlrtot,new{@readonly=true,@class="campoDesabilitado campomedio"})
            </div>
        </div>                                 
    </fieldset>
    <form id="formCabecalho">

        @*@Html.HiddenFor(x => x.id_cotacao )*@
        <fieldset>
            <legend>Dados de Cabeçalho</legend>
            <div id="Cabecalho">
                
                @{ var codigoTipoPedido = new ColunaComDropDown<PedidoVendaCadastroVm, object>
                       (x => x.CodigoTipoPedido, ((List<TipoPedidoCadastroVm>)ViewBag.TipoPedidos)
                           .Select(x => new SelectListItem()
                           {
                               Text = x.Descricao,
                               Value = Convert.ToString(x.Codigo),
                               Selected = Model != null && x.Codigo == Model.CodigoTipoPedido
                           }
                           ), "CodigoTipoPedido"
                       );

                    var buscaDeCliente = new ColunaComBotaoDeBusca<PedidoVendaCadastroVm, object>
                        (x => x.Cliente.Codigo, new { @class = "campomedio campoDesabilitado" }, "btnBuscarCliente", "button_visualize");                  
                           
                } 
                
                @Html.LinhaComCincoColunas(codigoTipoPedido, buscaDeCliente, 
                    new ColunaComTextBox<PedidoVendaCadastroVm, object>(x => x.Cliente.Nome,"campogrande campoDesabilitado"),
                    new ColunaComTextBox<PedidoVendaCadastroVm, object>(x => x.Cliente.Cnpj, "campogrande campoDesabilitado"),
                    new ColunaComTextBox<PedidoVendaCadastroVm, object>(x => x.Cliente.Telefone, "campogrande campoDesabilitado"))

                @{
                    var comboDeAreaDeVendas = new ColunaComDropDown<PedidoVendaCadastroVm, int>
                        (x =>x.IdDaAreaDeVenda , new List<SelectListItem>(), "AreaDeVenda");

                    var condpgto = new ColunaComDropDown<PedidoVendaCadastroVm, string>
                        (x => x.condpgto, new List<SelectListItem>(), "condpgto");                            
                }
                
                @Html.LinhaComSeisColunas(comboDeAreaDeVendas,
                    new ColunaComTextBox<PedidoVendaCadastroVm, string>(x => x.id_centro,"campomedio campoDesabilitado"),
                    condpgto,
                    new ColunaComTextBox<PedidoVendaCadastroVm, string>(x => x.datap, "campomedio campoDatePicker maskdata"),
                    new ColunaComTextBox<PedidoVendaCadastroVm, string>(x => x.id_pedido,"campomedio"),
                    new ColunaComTextBox<PedidoVendaCadastroVm, string>(x => x.NumeroPedidoDoCliente, "campomedio")
                    )
                
                
                @{
                    var inco1 = new ColunaComDropDown<PedidoVendaCadastroVm, object>
                        (x => x.IdDoIncoterm1, ((List<IncotermsCabCadastroVm>) ViewBag.Incoterms)
                            .Select(x => new SelectListItem()
                            {
                                Text = string.Format("{0} - {1}", x.CodigoIncotermCab, x.Descricao),
                                Value = Convert.ToString(x.Id),
                                Selected = Model != null && Convert.ToString( x.Id) == Model.IdDoIncoterm1
                            }
                            ), "Inco1"
                        );

                    var inco2 = new ColunaComDropDown<PedidoVendaCadastroVm, object>
                        (x => x.IdDoIncoterm2, new List<SelectListItem>(), "Inco2"
                        );

                    var buscaDeTransportadora = new ColunaComBotaoDeBusca<PedidoVendaCadastroVm, object>(x => x.Transportadora.Codigo,
                        new { @readonly = true, @class = "campomedio campoDesabilitado" },"Código Transportadora:", 
                        "btnSelecionarTransportadora", "button_visualize");

                    var campoComNomeDaTransportadora = new ColunaComTextBox<PedidoVendaCadastroVm, object>(x => x.Transportadora.Nome, 
                        new { @class = "campogrande campoDesabilitado" },"Nome Transportadora:");
                       
                }
                
                @Html.LinhaComQuatroColunas(inco1, inco2, buscaDeTransportadora, campoComNomeDaTransportadora)
                
                
                @{
                    var buscaDeTransportadoraDeRedespacho = new ColunaComBotaoDeBusca<PedidoVendaCadastroVm, string>(x => x.TransportadoraDeRedespacho.Codigo,
                        new { @readonly = true, @class = "campomedio campoDesabilitado" },"Código Transp Redespacho:", "btnSelecionarTransportadoraDeRedespacho", "button_visualize");

                    var campoComNomeDaTransportadoraDeRedespacho = new ColunaComTextBox<PedidoVendaCadastroVm, string>(x => x.TransportadoraDeRedespacho.Nome, 
                        new{@class="campogrande campoDesabilitado"} , "Nome Transp Redespacho:");

                    var buscaDeTransportadoraDeRedespachoCif = new ColunaComBotaoDeBusca<PedidoVendaCadastroVm, string>(x => x.TransportadoraDeRedespachoCif.Codigo,
                        new { @readonly = true, @class = "campomedio campoDesabilitado" }, "Cód Transp Redespacho Cif:", "btnSelecionarTransportadoraDeRedespachoCif", "button_visualize");
                    
                    var campoComNomeDaTransportadoraDeRedespachoCif = new ColunaComTextBox<PedidoVendaCadastroVm, string>(x => x.TransportadoraDeRedespachoCif.Nome,
                        new{@class="campogrande campoDesabilitado"} , "Nome Transp Redespacho Cif:");
                    
                }
                
                @Html.LinhaComQuatroColunas(buscaDeTransportadoraDeRedespacho, campoComNomeDaTransportadoraDeRedespacho,buscaDeTransportadoraDeRedespachoCif, campoComNomeDaTransportadoraDeRedespachoCif)
                
                @Html.LinhaComUmaColuna(new ColunaComTextArea<PedidoVendaCadastroVm, string>(x => x.obs))

            </div> 
              
        </fieldset>
    </form>
    <!-- Dados das Linhas--> 
    <fieldset>
        <legend>Dados de Itens</legend>                
        <div id="Linha">
            <form id="formItens">
                
                @{ 

                    var buscaDeMaterial = new ColunaComBotaoDeBusca<PedidoVendaCadastroVm, string>(x => x.CodigoDoMaterial, new {@class = "campoDesabilitado campopequeno"}, "btnBuscaMaterial", "button_visualize");
                    var campoDoNomeDoMaterial = new ColunaComTextBox<PedidoVendaCadastroVm, string>(x => x.NomeDoMaterial, new {@class = "campoDesabilitado campogrande"});
                    var campoDaUnidadeDeMedidaDoMaterial = new ColunaComTextBox<PedidoVendaCadastroVm, string>(x => x.CodigoUnidadeMedida, new { @class = "campoDesabilitado campomedio" });
                }
                
                @Html.LinhaComTresColunas(buscaDeMaterial, campoDoNomeDoMaterial, campoDaUnidadeDeMedidaDoMaterial)  
                @Html.HiddenFor(x => x.IdDoMaterial)
                

                @{ var listapreco = new ColunaComDropDown<PedidoVendaCadastroVm, string>
                       (x => x.CodigoDaListaDePreco, ((List<ListaPrecoCadastroVm>)ViewBag.ListaPreco)
                           .Select(x => new SelectListItem()
                           {
                               Text = x.Descricao,
                               Value = Convert.ToString(x.Codigo),
                               Selected = Model != null && x.Codigo == Model.CodigoDaListaDePreco
                           }
                           ), "CodigoDaListaDePreco"
                       );
                }

                @{
                    var motivosDeRecusa = ((List<MotivoDeRecusaVm>)ViewBag.MotivosDeRecusa).Select(x =>
                        new SelectListItem
                        {
                            Value = x.Codigo,
                            Text = x.Descricao,
                            Selected = (Model != null && Model.motrec == x.Codigo)
                        });
                    var comboDeMotivoDeRecusa = new ColunaComDropDown<PedidoVendaCadastroVm, string>(x => x.motrec, motivosDeRecusa, "CodigoDoMotivoDeRecusa");
                }


                
                
                @Html.LinhaComQuatroColunas(new ColunaComTextBox<PedidoVendaCadastroVm, decimal>(x => x.Quant,"maskquantidade campopequeno"),listapreco,
                    new ColunaComTextBox<PedidoVendaCadastroVm, string>(x => x.Desconto, "maskquantidade campopequeno")
                    , comboDeMotivoDeRecusa)

                <div class="divBotao">
                    <input type="button" id="btnAdicionarItem" value="Adicionar" class="blue" />
                    <input type="button" id="btnCancelarEdicao" value="Cancelar" class="blue"  style="display: none"/>
                </div>
                    
            </form>           

        </div>
    </fieldset>                
    <fieldset>
        <legend>Grid de Linhas</legend> 
        <div @*class="divGrid"*@>
            <div id="gridLinhasAdicionadas" style="width: 785px" class="divGrid" ></div>    
        </div>
    </fieldset>
        
    <div class="divBotao">
        <input type="button" id="btnSimular"             value="Simular"          class="blue"/>
        <input type="button" id="btnGravar"              value="Gravar"           class="blue"/>
    </div>

    <div id="divCondicoesDePreco" class="janelaModal">
        <div id="gridCondicoesDePreco" class="divGrid"></div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.web.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.grid.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.maskedinput.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.meio.mask.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.loadmask.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Shared/SelecionarFornecedor.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Shared/SelecionarCliente.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Shared/SelecionarProduto.js")"></script>
    <script type="text/javascript">

        // array das linhas
        var linhasAdicionadas = new Array();
        var condicoesDePrecoDoItemSelecionado = new Array();
        var indiceEdicao = -1;
        var simular = "S";
        var gravar = "G";
        var numeroDeItensInseridos = 0;
        var somenteLeitura = '@(Model != null && (Model.SomenteLeitura || (!string.IsNullOrEmpty(Model.status) && Model.status != "Pendente") ) )'.boolean();
        var copia = '@(Model != null && Model.Copia )'.boolean();
        var edicao = !copia && '@(Model != null && !string.IsNullOrEmpty(Model.id_cotacao))'.boolean();

        function carregarAreasDeVenda(idDoCliente, callBack) {
            ///<param name="callBack">funcao para executar alguma ação após carregar as áreas de venda. Por exemplo, setar um valor</param>
            var comboDeAreaDeVenda = $('#AreaDeVenda');
            comboDeAreaDeVenda
                .val('')
                .change();

            $.ajax({
                url: '@Url.Action("ListarPorCliente", "AreaDeVenda")' + '/?idDoCliente=' + idDoCliente,
                type: 'GET',
                cache: false,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                success: function(data) {
                    if (data.Sucesso) {

                        comboDeAreaDeVenda.children(':not(:first)').remove();
                        $.each(data.areasDeVenda, function(indice, areaDeVenda) {
                            comboDeAreaDeVenda.append('<option value="' + areaDeVenda.Id + '">' + areaDeVenda.Descricao + '</option>');
                        });

                        if (callBack) {
                            callBack();
                        }

                    } else {
                        Mensagem.ExibirMensagemDeErro('Ocorreu um erro ao consultar as Áreas de Venda do cliente. Detalhe: ' + data.Mensagem);
                    }

                },
                error: function(jqXHR, textStatus, errorThrown) {
                    Mensagem.ExibirMensagemDeErro('Ocorreu um erro ao consultar as Áreas de Venda do cliente. Detalhe: ' + errorThrown);
                }
            });

        }

        function carregarCondicoesDePagamento(idDoCliente, callBack) {
            ///<param name="callBack">funcao para executar alguma ação após carregar as condições de pagamento. Por exemplo, setar um valor</param>
            var comboDeCondicaoDePagamento = $('#condpgto');
            comboDeCondicaoDePagamento
                .val('')
                .change();

            $.ajax({
                url: '@Url.Action("ListarCondicoesDePagamento", "Cliente")' + '/?idDoCliente=' + idDoCliente,
                type: 'GET',
                cache: false,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                success: function (data) {
                    if (data.Sucesso) {

                        comboDeCondicaoDePagamento.children(':not(:first)').remove();
                        $.each(data.condicoesDePagamento, function (indice, condicaoDePagamento) {
                            comboDeCondicaoDePagamento.append('<option value="' + condicaoDePagamento.Codigo + '">' + condicaoDePagamento.Descricao + '</option>');
                        });

                        if (callBack) {
                            callBack();
                        }

                    } else {
                        Mensagem.ExibirMensagemDeErro('Ocorreu um erro ao consultar as Condições de Pagamento do cliente. Detalhe: ' + data.Mensagem);
                    }

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    Mensagem.ExibirMensagemDeErro('Ocorreu um erro ao consultar as Condições de Pagamento do cliente. Detalhe: ' + errorThrown);
                }
            });

        }

        function carregarIncoterm2(incoterm1, callBack) {
            $.ajax({
                url: '@Url.Action("ListarIncotermsDoCabecalho", "Incoterm")' + '/?idDoCabecalho=' + incoterm1,
                type: 'GET',
                cache: false,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                success: function(data) {
                    if (data.Sucesso) {
                        var comboDeIncoterm2 = $('#Inco2');

                        comboDeIncoterm2.children(':not(:first)').remove();
                        $.each(data.incoterms, function(indice, incoterm) {
                            comboDeIncoterm2.append('<option value="' + incoterm.Id + '">' + incoterm.IncotermLinha + '</option>');
                        });

                        if (callBack) {
                            callBack();
                        }

                    } else {
                        Mensagem.ExibirMensagemDeErro('Ocorreu um erro ao consultar o incoterm 2. Detalhe: ' + data.Mensagem);
                    }

                },
                error: function(jqXHR, textStatus, errorThrown) {
                    Mensagem.ExibirMensagemDeErro('Ocorreu um erro ao consultar o incoterm 2. Detalhe: ' + errorThrown);
                }
            });

        }

        function carregarItens() {
            var idDoPedido = $('#id_cotacao').val();

            $.ajax({
                url: '@Url.Action("ConsultarItensDoPedido", "PedidoVenda")' + '/?idDoPedido=' + idDoPedido,
                type: 'GET',
                cache: false,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                success: function(data) {
                    if (data.Sucesso) {
                        linhasAdicionadas = data.Itens;
                        numeroDeItensInseridos = data.Itens.length;
                        $('#gridLinhasAdicionadas').data("kendoGrid").dataSource.read();

                        if (copia) {
                            $('#id_cotacao').val('');
                        }

                    } else {
                        Mensagem.ExibirMensagemDeErro('Ocorreu um erro ao consultar os itens do Pedido. Detalhe: ' + data.Mensagem);
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    Mensagem.ExibirMensagemDeErro('Ocorreu um erro ao consultar os itens do Pedido. Detalhe: ' + errorThrown);
                }
            });

        }

        function passarCamposParaSomenteLeitura() {
            $('form :input').attr('disabled', true);
            $('#btnGravar, #btnSimular').attr('disabled', true);
        }

        function inicializarCampos() {
            $("#Transportadora_Codigo").val('');
            $("#Transportadora_Nome").val('');
            $("#TransportadoraDeRedespacho_Codigo").val('');
            $("#TransportadoraDeRedespacho_Nome").val('');
            $("#TransportadoraDeRedespachoCif_Codigo").val('');
            $("#TransportadoraDeRedespachoCif_Nome").val('');
        }

        function removerItens() {
            $('#IdDoMaterial').val('');
            $('#CodigoDoMaterial').val('');
            $('#NomeDoMaterial').val('');
            linhasAdicionadas.length = 0;
            numeroDeItensInseridos = 0;
            var gridItens = $('#gridLinhasAdicionadas').data("kendoGrid");
            if (gridItens) {
                gridItens.dataSource.read();
            }
        }

        var carregando = '@(Model != null)'.boolean();

        $(function() {
            aplicaMascaraData();
            aplicaMascaraQuantidade();

            var selecionarTransportadora = new SelecionarFornecedor();

            var funcaoParaRetornarCamposDaBuscaDeTransportadora = function() {
                var transportadoraSelecionada = selecionarTransportadora.fornecedorSelecionado;
                $("#Transportadora_Codigo").val(transportadoraSelecionada.Codigo);
                $("#Transportadora_Nome").val(transportadoraSelecionada.Nome);
            };

            selecionarTransportadora.configurarJanelaModalParaTransportadora("#Transportadora_Codigo", "divSelecionarTransportadora", "#btnSelecionarTransportadora", '#AreaDeVenda', funcaoParaRetornarCamposDaBuscaDeTransportadora);

            var selecionarTransportadoraDeRedespacho = new SelecionarFornecedor();

            var funcaoParaRetornarCamposDaBuscaDeTransportadoraDeRedespacho = function() {
                var transportadoraSelecionada = selecionarTransportadoraDeRedespacho.fornecedorSelecionado;
                $("#TransportadoraDeRedespacho_Codigo").val(transportadoraSelecionada.Codigo);
                $("#TransportadoraDeRedespacho_Nome").val(transportadoraSelecionada.Nome);
            };

            selecionarTransportadoraDeRedespacho.configurarJanelaModalParaTransportadora("#TransportadoraDeRedespacho_Codigo", "divSelecionarTransportadoraDeRedespacho", "#btnSelecionarTransportadoraDeRedespacho", '#AreaDeVenda', funcaoParaRetornarCamposDaBuscaDeTransportadoraDeRedespacho);

            var selecionarTransportadoraDeRedespachoCif = new SelecionarFornecedor();

            var funcaoParaRetornarCamposDaBuscaDeTransportadoraDeRedespachoCif = function() {
                var transportadoraSelecionada = selecionarTransportadoraDeRedespachoCif.fornecedorSelecionado;
                $("#TransportadoraDeRedespachoCif_Codigo").val(transportadoraSelecionada.Codigo);
                $("#TransportadoraDeRedespachoCif_Nome").val(transportadoraSelecionada.Nome);
            };

            selecionarTransportadoraDeRedespachoCif.configurarJanelaModalParaTransportadora("#TransportadoraDeRedespachoCif_Codigo", "divSelecionarTransportadoraDeRedespachoCif", "#btnSelecionarTransportadoraDeRedespachoCif", '#AreaDeVenda', funcaoParaRetornarCamposDaBuscaDeTransportadoraDeRedespachoCif);

            var selecionarCliente = new SelecionarCliente();
            var funcaoParaRetornarCamposDaBuscaDeCliente = function() {
                var clienteSelecionado = selecionarCliente.clienteSelecionado;
                var codigoDoCliente = $('#Cliente_Codigo').val();
                if (codigoDoCliente != clienteSelecionado.Codigo) {
                    carregarAreasDeVenda(clienteSelecionado.Codigo);
                    carregarCondicoesDePagamento(clienteSelecionado.Codigo);
                    inicializarCampos();
                    removerItens();
                }
                $('#Cliente_Codigo').val(clienteSelecionado.Codigo);
                $('#Cliente_Nome').val(clienteSelecionado.Nome);
                $('#Cliente_Cnpj').val(clienteSelecionado.Cnpj || clienteSelecionado.Cpf);
                $('#Cliente_Telefone').val(clienteSelecionado.Telefone);

            };

            selecionarCliente.configurarJanelaModal('#Cliente_Codigo', 'divSelecionarCliente', "#btnBuscarCliente", funcaoParaRetornarCamposDaBuscaDeCliente);

            var selecionarProduto = new SelecionarProduto();

            var funcaoParaPreencherOsDadosDeRetornoDoProduto = function() {
                var produtoSelecionado = selecionarProduto.produtoSelecionado;
                $('#IdDoMaterial').val(produtoSelecionado.Id);
                $('#CodigoDoMaterial').val(produtoSelecionado.Id_material);
                $('#NomeDoMaterial').val(produtoSelecionado.Descricao);
                $('#CodigoUnidadeMedida').val(produtoSelecionado.UnidadeMedida);
            };

            selecionarProduto.configurarJanelaModal('#IdDoMaterial', 'divSelecionarProduto', '#btnBuscaMaterial', '#Cliente_Codigo', '#AreaDeVenda', funcaoParaPreencherOsDadosDeRetornoDoProduto);

            $('#AreaDeVenda').change(function() {
                var areaDeVendaSelecionada = $(this).val();
                if (areaDeVendaSelecionada) {
                    var valoresDaAreaDeVenda = $(this).find(':selected').text().split('-');
                    $('#id_centro').val(valoresDaAreaDeVenda[0]);
                } else {
                    $('#id_centro').val('');
                }
                if (!carregando) {
                    inicializarCampos();
                    removerItens();
                }

            });

            if (carregando) {

                var idDaAreaDeVenda = '@(Model != null ? Model.IdDaAreaDeVenda: 0)';
                var idDoIncoterm2 = '@(Model != null ? Model.IdDoIncoterm2: "")';
                var codigoDaCondicaoDePagamento = '@(Model != null ? Model.condpgto: ""  )';
                var idDoCliente = $('#Cliente_Codigo').val();
                //vai entrar aqui quando estiver carregando um pedido que já foi salvo
                carregarAreasDeVenda(idDoCliente, function() {

                    $('#AreaDeVenda')
                        .val(idDaAreaDeVenda)
                        .change();

                    carregando = false;

                });

                carregarIncoterm2($('#Inco1').val(), function() {
                    $('#Inco2').val(idDoIncoterm2);
                });

                carregarCondicoesDePagamento(idDoCliente,function() {
                    $('#condpgto').val(codigoDaCondicaoDePagamento);
                });

                if (edicao) {
                    $('#btnGravar').val('Gravar Edição');
                    $('#btnSimular').val('Simular Edição');
                }

                carregarItens();

            }

            if (somenteLeitura) {
                passarCamposParaSomenteLeitura();
            }

            $('#Inco1').change(function() {
                var incoterm1 = $(this).val();
                if (incoterm1) {
                    carregarIncoterm2(incoterm1);
                }
            });

            function atualizaGrid() {
                var grid = $("#gridLinhasAdicionadas").data("kendoGrid");
                grid.dataSource.read();
            }

            // Finaliza a edicao na linha do grid
            function encerrarEdicao() {
                indiceEdicao = -1;
                $('#btnAdicionarItem').val('Adicionar');
                $('#btnCancelarEdicao').hide();
            }

            $('#btnCancelarEdicao').click(function() {
                encerrarEdicao();
            });

            // Adiciona linha ao grid
            $('#btnAdicionarItem').click(function() {
                var form = $('#formItens');
                if (!$(form).validate().form()) {
                    return;
                }

                var codigoDoMotivoDeRecusa = $('#CodigoDoMotivoDeRecusa :selected').val();

                // grava a linha no array de fornecedor
                // Array que sera enviado para o controller que salva os pedidos
                var item = {
                    IdMaterial: $('#IdDoMaterial').val(),
                    CodigoMaterial: $('#CodigoDoMaterial').val(),
                    DescricaoMaterial: $('#NomeDoMaterial').val(),
                    CodigoUnidadeMedida: $('#CodigoUnidadeMedida').val(),
                    Quantidade: $('#Quant').val(),
                    CodigoListaPreco: $('#CodigoDaListaDePreco').val(),
                    DescricaoListaPreco: $('#CodigoDaListaDePreco :selected').text(),
                    Desconto: $('#Desconto').val(),
                    CodigoDoMotivoDeRecusa: codigoDoMotivoDeRecusa ? codigoDoMotivoDeRecusa : null,
                    DescricaoDoMotivoDeRecusa: codigoDoMotivoDeRecusa ? $('#CodigoDoMotivoDeRecusa :selected').text() : null
                };

                // grava na variavel linhasAdicionadas os dados que seram manipulados antes de serem salvos
                if (indiceEdicao == -1) {
                    numeroDeItensInseridos++;
                    item.NumeroDoItem = numeroDeItensInseridos * 10,
                    linhasAdicionadas.push(item);

                } else {
                    // array que sera exibido no grid
                    var itemAtual = linhasAdicionadas[indiceEdicao];
                    item.Id = itemAtual.Id;
                    item.NumeroDoItem = itemAtual.NumeroDoItem;
                    item.ValorTabela = itemAtual.ValorTabela;
                    item.ValorPolitica = itemAtual.ValorPolitica;

                    linhasAdicionadas[indiceEdicao] = item;

                    encerrarEdicao();
                }

                atualizaGrid();
            });

            function permiteAlterarItem(dataItem) {
                return !somenteLeitura && (!edicao || !dataItem.CodigoMotivoDeRecusa);

            }

            // exibe os valores no grid 
            // quota. campo
            $('#gridLinhasAdicionadas').customKendoGrid({
                dataSource: {
                    schema: {
                        data: function() { return linhasAdicionadas; },
                        model: {
                            id: 'Codigo',
                            fields: {
                                Id: { type:"number"},
                                NumeroDoItem: { type: "string" },
                                IdMaterial: { type: "number" },
                                CodigoMaterial: { type: "string" },
                                DescricaoMaterial: { type: "string" },
                                Quantidade: { type: "number" },
                                CodigoUnidadeMedida: { type: "string" }, 
                                CodigoListaPreco: { type: "string" },
                                DescricaoListaPreco: { type: "string" },
                                Desconto: { type: "number" },
                                ValorTabela: { type: "number" },
                                ValorPolitica: { type: "number" },
                                CodigoDoMotivoDeRecusa: { type: "string" },
                                DescricaoDoMotivoDeRecusa: { type: "string" }
                            }
                        }
                    }
                },
                sortable: false,
                columns:
                [
                    {
                        title: ' ',
                        width: 30,
                        template: function (dataItem) {
                            if (permiteAlterarItem(dataItem)) {
                                return '<input type="button" class="button_edit"></input>';
                            } else {
                                return '';
                            }
                        } 
                    },
                    {
                        title: ' ',
                        width: 30,
                        template: function(dataItem) {
                            if (permiteAlterarItem(dataItem)) {
                                return '<input type="button" class="button_remove"></input>';
                            } else {
                                return '';
                            }
                           
                        }

                    },
                    {
                        width: 60,
                        field: "NumeroDoItem",
                        title: "Item"
                    },
                    {
                        field: "CodigoMaterial",
                        width: 60,
                        title: "Código"
                    },
                    {
                        field: "DescricaoMaterial",
                        width: 220,
                        title: "Material"
                    },
                    {
                        width: 70,
                        field: "Quantidade",
                        title: "Quantidade"
                    },
                    {
                        field: "DescricaoListaPreco",
                        width: 50,
                        title: "Lista"
                    },
                    {
                        field: "Desconto",
                        width: 75,
                        title: "Desconto Manual",
                        template: function(dataItem) {
                            return dataItem.Desconto ? dataItem.Desconto : "";
                        },
                        format: "{0:n2}",
                        attributes: {
                            "class": "table-cell",
                            style: "text-align: right;"
                        }

                    },
                    {
                        field: "ValorTabela",
                        width: 70,
                        title: "Tabela",
                        format: "{0:n2}",
                        attributes: {
                            "class": "table-cell",
                            style: "text-align: right;"
                        }
                    },
                    {
                        field: "ValorPolitica",
                        width: 70,
                        title: "Política",
                        format: "{0:n2}",
                        attributes: {
                            "class": "table-cell",
                            style: "text-align: right;"
                        }
                    },
                    {
                        width: 70,
                        title: "Condições",
                        template: '<input type="button" class="button_information"></input>'
                    },
                    {
                        field: "DescricaoDoMotivoDeRecusa",
                        width: 100,
                        title: "Motivo de Recusa"
                    }
                ],
                dataBound: function () {
                    if (somenteLeitura) {
                        $('#gridLinhasAdicionadas').find('.button_edit,.button_remove').attr('disabled', true);
                    }
                }
            });


            $("#gridCondicoesDePreco").customKendoGrid({
                dataSource: {
                    schema: {
                        data: function() { return condicoesDePrecoDoItemSelecionado; },
                        model: {
                            fields: {
                                Nivel: { type: "string" },
                                Tipo: { type: "string" },
                                Descricao: { type: "string" },
                                Valor: { type: "number" }
                            }
                        },
                        total: 'QuantidadeDeRegistros'
                    },
                    serverFiltering: true,
                },
                pageable: false,
                columns:
                [
                    {
                        width: '20%',
                        field: 'Nivel'
                    },
                    {
                        width: '20%',
                        field: "Tipo"
                    },
                    {
                        width: '40%',
                        field: "Descricao",
                        title: "Descrição"
                    },
                    {
                        field: "Valor",
                        width: '20%',
                        format: "{0:n2}",
                        attributes: {
                            "class": "table-cell",
                            style: "text-align: right;"
                        }
                    }
                ]
            });
                

            function enviarPedido(acao, mensagemDeSucesso) {

                var form = $('#formCabecalho');
                if (!$(form).validate().form()) {
                    return;
                }

                if (linhasAdicionadas.length == 0) {
                    Mensagem.ExibirMensagemDeErro('Deve ser adicionado pelo menos um Item antes de salvar.');
                    return;
                }

                var pedido = {
                    IdDaCotacao:  $('#id_cotacao').val(),
                    IdDoPedido: $('#id_pedido').val(),
                    tipo: acao,
                    CodigoTipoPedido: $('#CodigoTipoPedido').val(),
                    CodigoDaCondicaoDePagamento: $('#condpgto').val(),
                    DataDoPedido: $('#datap').val(),
                    NumeroPedidoDoRepresentante: $('#id_pedido').val(),
                    NumeroPedidoDoCliente: $('#NumeroPedidoDoCliente').val(),
                    CodigoDaTransportadora: $('#Transportadora_Codigo').val(),
                    CodigoDaTransportadoraDeRedespacho: $('#TransportadoraDeRedespacho_Codigo').val(),
                    CodigoDaTransportadoraDeRedespachoCif: $('#TransportadoraDeRedespachoCif_Codigo').val(),
                    CodigoDoCliente: $('#Cliente_Codigo').val(),
                    IdDaAreaDeVenda: $('#AreaDeVenda').val(),
                    Centro: $('#id_centro').val(),
                    IdDoIncoterm1: $('#Inco1').val(),
                    IdDoIncoterm2: $('#Inco2').val(),
                    Observacao: $('#obs').val()
                };

                // Grava no array os dados que serão salvos
                var itens = new Array();
                $.each(linhasAdicionadas, function(indice, item) {
                    itens.push({
                        Numero: item.NumeroDoItem,
                        IdDoItem: item.Id,
                        IdMaterial: item.IdMaterial,
                        Quantidade: item.Quantidade,
                        CodigoDaListaDePreco: item.CodigoListaPreco,
                        Desconto: item.Desconto,
                        CodigoDoMotivoDeRecusa: item.CodigoDoMotivoDeRecusa
                    });
                });

                pedido.Itens = itens;

                bloqueiaPagina();

                $.ajax({
                    url: '@Url.Action("Salvar", "PedidoVendaSalvar")',
                    type: 'POST',
                    cache: false,
                    data: JSON.stringify({ Pedido: pedido }),
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    success: function (data) {
                        if (data.Sucesso) {

                            edicao = true;

                            $('#btnGravar').val('Gravar Edição');
                            $('#btnSimular').val('Simular Edição');

                            var retorno = data.Retorno;
                            $('#id_cotacao').val(retorno.IdDoPedido);
                            $('#vlrtot').val(Globalize.format(retorno.ValorTotal));
                            $('#status').val(retorno.Status);

                            somenteLeitura = retorno.Status != 'Pendente';

                            if (somenteLeitura) {
                                passarCamposParaSomenteLeitura();
                            }

                            for (var i = 0; i < retorno.Itens.length; i++) {
                                linhasAdicionadas[i].NumeroDoItem = retorno.Itens[i].NumeroDoItem;
                                linhasAdicionadas[i].CodigoDoMotivoDeRecusa = retorno.Itens[i].CodigoDoMotivoDeRecusa;
                                linhasAdicionadas[i].DescricaoDoMotivoDeRecusa = retorno.Itens[i].DescricaoDoMotivoDeRecusa;
                                linhasAdicionadas[i].ValorTabela = retorno.Itens[i].ValorDeTabela;
                                linhasAdicionadas[i].ValorPolitica = retorno.Itens[i].ValorPolitica;
                                linhasAdicionadas[i].CondicoesDePreco = retorno.Itens[i].CondicoesDePreco;
                            }

                            $('#gridLinhasAdicionadas').data("kendoGrid").dataSource.read();

                            Mensagem.ExibirMensagemDeSucesso(mensagemDeSucesso);
                        } else {
                            Mensagem.ExibirMensagemDeErro('Erro ao salvar o Pedido. Detalhe: ' + data.Mensagem);
                        }

                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        Mensagem.ExibirMensagemDeErro('Erro ao salvar o Pedido. Detalhe: ' + errorThrown);
                    },
                    complete: function() {
                        desbloqueiaPagina();
                    }
                });

            }

            // botao de remover a linha do grid
            $('#gridLinhasAdicionadas').find('.button_remove').die('click');

            // funcao do botao de remover a linha do grid
            $('#gridLinhasAdicionadas').find('.button_remove').live('click', function() {
                var indice = $(this).parents('tr:first')[0].rowIndex;
                linhasAdicionadas.splice(indice, 1);
                atualizaGrid();
            });

            // botao de adicionar linha ao grid
            $('#gridLinhasAdicionadas').find('.button_edit').die('click');

            // funcao de adicionar linha ao grid
            $('#gridLinhasAdicionadas').find('.button_edit').live('click', function() {
                indiceEdicao = $(this).parents('tr:first')[0].rowIndex;
                var item = linhasAdicionadas[indiceEdicao];

                $('#IdDoMaterial').val(item.IdMaterial);
                $('#CodigoDoMaterial').val(item.CodigoMaterial);
                $('#NomeDoMaterial').val(item.DescricaoMaterial);
                $('#Quant').val(item.Quantidade);
                $('#CodigoUnidadeMedida').val(item.CodigoUnidadeMedida);
                $('#CodigoDaListaDePreco').val(item.CodigoListaPreco);
                $('#Desconto').val(item.Desconto ? item.Desconto : '');
                $('#CodigoDoMotivoDeRecusa').val(item.CodigoDoMotivoDeRecusa);

                $('#btnAdicionarItem').val('Atualizar');
                $('#btnCancelarEdicao').show();
            });

            $('#gridLinhasAdicionadas').find('.button_information').die('click');

            $('#divCondicoesDePreco').customDialog({
                title: 'Condições de Preço',
                position: { at: 'center' },
                beforeClose: function(){}
            });


            $('#gridLinhasAdicionadas').find('.button_information').live('click', function () {

                indiceEdicao = $(this).parents('tr:first')[0].rowIndex;
                var item = linhasAdicionadas[indiceEdicao];

                condicoesDePrecoDoItemSelecionado = item.CondicoesDePreco;

                $('#gridCondicoesDePreco').data("kendoGrid").dataSource.read();

                $('#divCondicoesDePreco').dialog('open');

            });

            $('#btnSimular').click(function() {
                enviarPedido(simular, "O Pedido foi simulado com sucesso.");
            });

            $('#btnGravar').click(function() {
                enviarPedido(gravar, "O Pedido foi gravado com sucesso.");
            });

            function habilitarCampoData() {
                $('#Data')
                    .attr('readonly', false)
                    .removeClass('campoDesabilitado')
                    .val('');

                $("#Data").datepicker();
            }

            $('#btnNovo').click(function () {
                $('form :input').removeAttr('disabled');

                $('form :input:not([type=button])').val('');

                $('#Copiar :input:not([type=button])')
                    .removeAttr('disabled')
                    .val('');

                $('#btnGravar, #btnSimular').removeAttr('disabled');

                habilitarCampoData();
                removerItens();
            });

            //
            // Funcao do Botao que copia os dados de uma cotacao para tela.
            // 
            $('#btnCopiar').click(function() {
                // Grava o o numero da cotacao
                var idCotacao = $('#IdDaCotacaoParaCopiar').val();

                // Verifica se foi digitado o numero da Cotacao
                if (idCotacao == '') {
                    Mensagem.ExibirMensagemDeErro('Deve ser informado o Nº da Cotação para realizar a cópia.');
                    return;
                }

                $.ajax({
                    url: '@Url.Action("PedidoExiste", "PedidoVenda")' + '/?idDoPedido=' + idCotacao,
                    type: 'GET',
                    cache: false,
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    success: function (data) {
                        if (data) {
                            location.href = '@Url.Action("CopiarPedido", "PedidoVenda")' + '/?idDoPedido=' + idCotacao;
                        } else {
                            Mensagem.ExibirMensagemDeErro('Não foi encontrada Cotação com o número informado.');
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        Mensagem.ExibirMensagemDeErro('Ocorreu um erro ao consultar os itens do Pedido. Detalhe: ' + errorThrown);
                    }
                });

            });

        });
    </script>

},