<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />   
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Styles.Render("~/Content/themes/base/css")
    </head>
    <body>
        <div id="todaPagina">
            @Html.Partial("_Header")
            <div style="clear: both"></div>
            <div id="middle">
                <div id="menuprincipal">
                    @{
                        if (ViewBag.UsuarioConectado != null)
                        {
                            Html.RenderAction("Menu", "Home");
                        }
                    }
                </div>
                <div id="body">
                    <div id="tituloPagina">
                        @ViewBag.TituloDaPagina
                    </div>
                    <div id="conteudoPrincipal">
                        @RenderBody()
                    </div>
                </div>
            
            </div>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/globalize")
        @Scripts.Render("~/bundles/scriptsgerais")
        <script type="text/javascript">

            UrlPadrao.SelecionarFornecedor = '@Url.Action("Selecionar","SelecionarFornecedor")';
            UrlPadrao.SelecionarCliente = '@Url.Action("Selecionar","SelecionarCliente")';
            UrlPadrao.ListarClientesParaSelecao = '@Url.Action("ListarClienteParaSelecao","Cadastros")';
            UrlPadrao.ListarFornecedoresParaSelecao = '@Url.Action("Listar","Fornecedor")';
            UrlPadrao.ListarTransportadorasParaSelecao = '@Url.Action("ListarTransportadoras","Fornecedor")';
            UrlPadrao.ListarProdutos = '@Url.Action("Listar","Material")';
            UrlPadrao.SelecionarProduto = '@Url.Action("Selecionar", "SelecaoDeProduto")';


        </script>
        @RenderSection("scripts", false)
    </body>
</html>
