@model Progas.Portal.ViewModel.FornecedorCadastroVm

@{
    Layout = null;
}
<div class="divFiltros">
    <fieldset>
        <legend>Filtros</legend>
        <form id="filtrosDeFornecedor">
            <div class="coluna">
                @Html.Label("Código:")
                @Html.TextBox("Codigo","", new{@class="campomedio"})
            </div>
            <div class="coluna">
                @Html.Label("Nome:")
                @Html.TextBox("Nome","", new{@class="campogrande"})
            </div>
            <div class="coluna">
                @Html.Label("CNPJ:")
                @Html.TextBox("Cnpj","", new{@class="campomedio"})
            </div>
            <div class="coluna">
                @Html.Label("CPF:")
                @Html.TextBox("Cpf","", new{@class="campomedio"})
            </div>
            <div class="coluna">
                @Html.Label("Município:")
                @Html.TextBox("Municipio","", new{@class="campomedio"})
            </div>
            <div class="divBotao">
                <input id="btnPesquisar" type="submit" value="Pesquisar" class="blue"/>
                <input id="btnLimpar" type="reset" value="Limpar" class="blue"/>
            </div>
        </form>

    </fieldset>
</div>
<div id="gridClientes" class="divGrid"></div>
