@model Progas.Portal.ViewModel.FornecedorCadastroVm

@{
    Layout = null;
}
<div class="divFiltros">
    <fieldset>
        <legend>Filtros</legend>
        <form id="filtrosDeFornecedor">
            <div class="colunaFiltro">
                @Html.Label("Código")
                @Html.TextBox("Codigo","", new{@class="campomedio"})
            </div>
            <div class="colunaFiltro">
                @Html.Label("Nome")
                @Html.TextBox("Nome","", new{@class="campomedio"})
            </div>
            <div class="coluna">
                @Html.Label("CNPJ:")
                @Html.TextBox("Cnpj","", new{@class="campomedio"})
            </div>
            <div class="coluna">
                @Html.Label("CPF:")
                @Html.TextBox("CPF","", new{@class="campomedio"})
            </div>

            <div class="divBotao">
                <input id="btnPesquisar" type="button" value="Pesquisar" class="blue"/>
                <input id="btnLimpar" type="reset" value="Limpar" class="blue"/>
            </div>
        </form>

    </fieldset>
</div>
<div id="gridFornecedores" class="divGrid"></div>