@model Progas.Portal.ViewModel.LoginVm
@{
    Layout = null;
    ViewBag.Title = "Log in";
}

<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        <link href="@Url.Content("~/Content/jquery.loadmask.css")" rel="stylesheet" />
    </head>
    <body>
        @Html.Partial("_Header")
        <div id="loginForm" style="margin-top: 5px">
            @using (Html.BeginForm("Login", "Account", new {ViewBag.ReturnUrl })) {
                @Html.AntiForgeryToken()
                <div class="elementosCentralizados">
                    <div style="width: 265px" class="elementosCentralizados">
                        @Html.LabelFor(m => m.Usuario, new{@class="labelEsquerda"})
                        @Html.TextBoxFor(m => m.Usuario)
                        @Html.ValidationMessageFor(m => m.Usuario)
                        @Html.LabelFor(m => m.Senha, new { @class = "labelEsquerda" })
                        @Html.PasswordFor(m => m.Senha)
                        @Html.ValidationMessageFor(m => m.Senha)
                    </div>
                    @Html.ValidationSummary(true)
                </div>
                <div class="divBotao">
                    <input type="submit" value="Log in" class="blue"/>
                </div>
                <div class="elementosCentralizados">
                    @*<a id="esqueciMinhaSenha">Esqueci minha senha</a>*@
                    @Html.ActionLink("Esqueci minha senha","EsqueciMinhaSenha")
                    @Html.ActionLink("Alterar senha","AlterarSenha")
                </div>
            }
        </div>
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.loadmask.js")"></script>

        <script type="text/javascript">
            $(function () {
                if ($.browser.msie) {
                    var browserVersion = parseFloat($.browser.version);
                    var documentMode = parseFloat(document.documentMode);
                    if (browserVersion < 8.0 || documentMode < 8.0) {
                        $('#loginForm').empty();
                        $('#loginForm')
                            .addClass('message-error')
                            .html(
                                '<p>Versão do Browser incompatível. Não é possível utilizar o sistema.</p>' +
                                    '<p>Versão do Navegador: ' + $.browser.version + " " + (browserVersion >= 8 ? "OK" : "Falha ==> Versão mínima requerida: 8") + '</p>' +
                                    '<p>Versão do Modo de Documento: ' + document.documentMode + " " + (documentMode >= 8 ? "OK" : "Falha ==> Versão mínima requerida: 8") + '</p>'
                            );
                        return;
                    }
                }

                $("#esqueciMinhaSenha").click(function (e) {
                    e.preventDefault();
                    location.href = '@Url.Action("EsqueciMinhaSenha")';
                });
                $('form').submit(function (e) {
                    var form = $('form');
                    if (!$(form).validate().form()) {
                        return;
                    }
                    $('body').block("Efetuando Login. Aguarde...");
                });
            });
        </script>
    </body>
</html>
