@{
    ViewBag.TituloDaPagina = "Consultar Pedido de Vendas";
}

    <link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.common.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.default.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/jquery.loadmask.css")" rel="stylesheet" />

<div id="divFiltros">
    <fieldset>
        <legend>Filtros</legend>
        <form>
        <div class="linha">
            <div class="coluna">
                @Html.Hidden("id_cliente")
                @Html.Label("Código do Cliente:")
                @Html.TextBox("CodigoDoCliente","",new{@class="campopequeno campoDesabilitado"})                        
                <input type="button" id="btnBuscarCliente" class="button_visualize"/>
            </div>
            <div class="coluna">
                @Html.Label("Nome do Cliente:")
                @Html.TextBox("NomeDoCliente","",new{@class="campogrande campoDesabilitado"})                        
            </div>
        </div>
                
        <div class="linha">
            <div class="coluna">
                @Html.Hidden("IdDoMaterial")
                @Html.Label("Código do Material:")
                @Html.TextBox("CodigoDoMaterial","",new{@class="campopequeno campoDesabilitado"})                        
                <input type="button" id="btnBuscarMaterial" class="button_visualize"/>
            </div>
            <div class="coluna">
                @Html.Label("Nome do Material:")
                @Html.TextBox("NomeDoMaterial","",new{@class="campogrande campoDesabilitado"})                        
            </div>
        </div>

        <div class="linha">
            <div class="coluna">
                @Html.Label("Data de Criação:")
                @Html.TextBox("datacp", "", new { @class = "campoDatePicker maskdata campopequeno" })
            </div>        
            <div class="coluna">
                @Html.Label("Nº do Pedido:")                
                @Html.TextBox("id_pedido","", new{@class="campopequeno"})
            </div>
        </div>
        <div class="linha">
            <div class="coluna">
                @Html.Label("Data do Pedido:")
                @Html.TextBox("datap", "", new { @class = "campoDatePicker maskdata campopequeno" })
            </div>
            <div class="coluna">
                @Html.Label("Status:")
                @Html.DropDownList("Status", (IEnumerable<SelectListItem>)ViewBag.ListaDeStatus,"Escolha>>")
            </div>
        </div>
        <div class="divBotao">
            <input id="btnPesquisar" type="button" value="Pesquisar" class="blue"/>
            <input id="btnLimpar" type="reset" value="Limpar" class="blue"/>
        </div>
        </form>
    </fieldset>
</div>
<div id="gridPedidos" class="divGrid"></div>

@section scripts
{
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.web.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.grid.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Shared/SelecionarCliente.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Shared/SelecionarProduto.js")"></script>

    <script>
    $(document).ready(function () {

        var selecionarCliente = new SelecionarCliente();
        var funcaoParaRetornarCamposDaBuscaDeCliente = function () {
            var clienteSelecionado = selecionarCliente.clienteSelecionado;
            $('#id_cliente').val(clienteSelecionado.Id);
            $('#CodigoDoCliente').val(clienteSelecionado.Codigo);
            $('#NomeDoCliente').val(clienteSelecionado.Nome);
        };

        selecionarCliente.configurarJanelaModal('#id_cliente', 'divSelecionarCliente', "#btnBuscarCliente", funcaoParaRetornarCamposDaBuscaDeCliente);

        var selecionarProduto = new SelecionarProduto();

        var funcaoParaPreencherOsDadosDeRetornoDoProduto = function () {
            $('#IdDoMaterial').val(selecionarProduto.produtoSelecionado.Id);
            $('#CodigoDoMaterial').val(selecionarProduto.produtoSelecionado.Id_material);
            $('#NomeDoMaterial').val(selecionarProduto.produtoSelecionado.Descricao);
        };

        selecionarProduto.configurarJanelaModal('#IdDoMaterial', 'divSelecionarProduto', '#btnBuscarMaterial', null,null, funcaoParaPreencherOsDadosDeRetornoDoProduto);

        $("#gridPedidos").customKendoGrid({
            dataSource: {
                schema: {
                    data: 'Registros',
                    model: {
                        fields: {
                            IdDaCotacao: { type: "string" },
                            Status: { type: "string" },
                            NomeDoCliente: { type: "string" },
                            DataDeCriacao: { type: "string" },
                            NumeroDoPedido: { type: "string" },
                            DataDoPedido: { type: "string" },
                            ValorTotal: { type: "number" }
                        }
                    },
                    total: 'QuantidadeDeRegistros'
                },
                serverFiltering: true,
                serverPaging: true,
                transport: {
                    read: {
                        url: '@Url.Action("ListarPedidoVenda", "PedidoVenda")',
                            type: 'GET',
                            cache: false,
                            data: function() {
                                return {
                                    CodigoDoCliente: $('#CodigoDoCliente').val(),
                                    datacp: $('#datacp').val(),
                                    id_pedido: $('#id_pedido').val(),
                                    datap: $('#datap').val(),
                                    IdDoMaterial: $('#IdDoMaterial').val(),
                                    Status: $('#Status').val()
                                };
                            }
                        }
                    },
                    pageSize: 5
                },
                columns:
                [
                    {
                        title: ' ', /*coloco um espaço para deixar o header sem título*/
                        width: 30,
                        sortable: false,
                        template: '<input type="button" class="button_visualize" data-cotacao="${IdDaCotacao}"></input>'
                    },
                    {
                        title: ' ', /*coloco um espaço para deixar o header sem título*/
                        width: 30,
                        sortable: false,
                        template: '<input type="button" class="button_edit" data-cotacao="${IdDaCotacao}"></input>'
                    },
                    {
                        field: "IdDaCotacao",
                        width: 80,
                        title: "Cotação"
                    },
                    {
                        field: "NomeDoCliente",
                        width: 200,
                        title: "Cliente"
                    },
                    {
                        width: 90,
                        field: "Status"
                    },
                    {
                        width: 90,
                        field: "DataDeCriacao",
                        title: "Data de Criação"
                    },
                    {
                        width: 80,
                        field: "NumeroDoPedido",
                        title: "N° Pedido"
                    },
                    {
                        width: 90,
                        field: "DataDoPedido",
                        title: "Data do Pedido"
                    },
                    {
                        width: 100,
                        field: "ValorTotal",
                        title: "Valor Final",
                        format: "{0:n2}",
                        attributes: {
                            style: "text-align: right;"
                        }

                    }
                ]
            });

            $("#gridPedidos").off('click', '.button_visualize');
            $("#gridPedidos").on('click', '.button_visualize', function(e) {
                e.preventDefault();
                var pedidoSelecionado = $('#gridPedidos').data("kendoGrid").obterRegistroSelecionado();
                location.href = '@Url.Action("VisualizarPedido", "PedidoVenda")' + '/?idDaCotacao=' + pedidoSelecionado.IdDaCotacao;
            });

            $("#gridPedidos").off('click', '.button_edit');
            $("#gridPedidos").on('click', '.button_edit', function(e) {
                e.preventDefault();
                var pedidoSelecionado = $('#gridPedidos').data("kendoGrid").obterRegistroSelecionado();
                location.href = '@Url.Action("EditarPedido", "PedidoVenda")' + '/?idDaCotacao=' + pedidoSelecionado.IdDaCotacao;
        });

        $('#btnLimpar').click(function () {
            $('form').find('input[type=hidden]').val('');
        });

    });
    </script>
    
}

