@{
    ViewBag.TituloDaPagina = "Material";
}

    <link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.common.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.default.min.css")" rel="stylesheet" />
    <div id="divFornecedores">
        <div id="divFiltros">
            <fieldset>
                <legend>Filtros</legend>
                <div class="colunaFiltro">
                    @Html.Label("Codigo")
                    @Html.TextBox("Codigo","", new{@class="campogrande"})
                </div>
                <div class="colunaFiltro">
                    @Html.Label("Descricao")
                    @Html.TextBox("Descricao","", new{@class="campogrande"})
                </div>
                <div class="divBotao">
                    <input id="btnPesquisar" type="button" value="Pesquisar" class="blue"/>
                    <input id="btnLimpar" type="button" value="Limpar" class="blue"/>
                </div>
            </fieldset>
        </div>
        <div id="gridFornecedores" class="divGrid"></div>
    </div>

@section scripts
{
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.web.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.grid.min.js")"></script>
    <script>
        $(document).ready(function() {
            $("#gridFornecedores").customKendoGrid({
                dataSource: {
                    schema: {
                        data: 'Registros',
                        model: {
                            fields: {
                                Id_material: { type: "string" },
                                Descricao: {type: "string"},
                                Centro: { type: "string" },
                                Tipo: { type: "string" },
                                UnidadeMedida: { type: "string" }
                            }
                        },
                        total: 'QuantidadeDeRegistros'
                    },
                    serverFiltering: true,
                    serverPaging: true,
                    transport: {
                        read: {
                            url: '@Url.Action("ListarMaterial", "PedidoVenda")',
                            type: 'GET',
                            cache: false,
                            data: function() {
                                return {
                                    Codigo: $('#Codigo').val(),
                                    Descricao: $('#Descricao').val()
                                };
                            }
                        }
                    },
                    pageSize: 5
                },
                columns:
                [                                       
                    {
                        field: "Id_material",
                        width: 40,
                        title: "Codigo"
                    },
                    {
                        width: 300,
                        field: "Descricao",
                        title: "Descricao"
                    },
                    {
                        width: 70,
                        field: "Centro",
                        title: "Centro"
                    },
                    {
                        width: 100,
                        field: "Tipo",
                        title: "Tipo"
                    },
                    {
                        width: 80,
                        field: "UnidadeMedida",
                        title: "Unidade de Medida"
                    }
                ]
            });

            $('#btnLimpar').click(function () {
                $('#divFiltros input[type!=button]').val('');
            });            

        });
    </script>
    
}

