@model Progas.Portal.ViewModel.UsuarioCadastroVm


<title>"Cadastro de Usuários"</title>

<link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.common.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.default.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/jquery.loadmask.css")" rel="stylesheet" />


@using (Html.BeginForm())
    {        
                                            
        <div id="loginForm">
            @using (Html.BeginForm("AlterarSenha", "GerenciadorUsuario"))
            {
                @Html.AntiForgeryToken()
                <div class="elementosCentralizados">
                    <div style="width:40%" class="elementosCentralizados">
                        @Html.LabelFor(m => m.Login)
                        @Html.TextBoxFor(m => m.Login)
                        @Html.ValidationMessageFor(m => m.Login)

                        @Html.LabelFor(m => m.Nome)
                        @Html.TextBoxFor(m => m.Nome)
                        @Html.ValidationMessageFor(m => m.Nome)
                        
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email)
                        @Html.ValidationMessageFor(m => m.Email)
                        
                        @Html.Hidden("Codigo")
                        @Html.LabelFor(m => m.CodigoFornecedor)
                        @Html.TextBoxFor(m => m.CodigoFornecedor, new { @readonly = true, @class = "campomedio campoDesabilitado", style = "width:88%;" })
                        <input type="button" id="btnSelecionarRepresentante" class="button_visualize" style="width: 16px!important"/>  
                        @Html.ValidationMessageFor(x => x.CodigoFornecedor)                                     
                        @Html.ValidationSummary(true)
                        <div class="error"></div>
                    </div>
                    <span class="error">
                        @if (ViewData["erro"] != null)
                        {
                            @ViewData["erro"]
                        }
                    </span>
                </div>
                
                <div class="divBotao">
                    <input type="button" id="btnVoltar" value="Voltar" class="blue"/>
                    <input type="button" id="btnConfirmar" value="Confirmar" class="blue"/>
                </div>
                  
            }
            
        </div>
            
        
    }
        <!-- Div da janela de Tipo de Pedido-->  
        <div id="divSelecionarTipoPedido" class="janelaModal"></div>


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.web.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.grid.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.maskedinput.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.meio.mask.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Shared/SelecionarFornecedor.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Shared/SelecionarRepresentante.js")"></script>
    <script type="text/javascript">

        $(function () {

            SelecionarRepresentante.Configurar();

            $('#btnVoltar').click(function () {
                history.back(1);
            });

            $('#btnConfirmar').click(function () {

                //$('loginForm').   
                //$('.error').empty();
                //var form = $('form');
                //if (!$(form).validate().form()) {
                //    return;

                //}


                var dados = {
                    Login: $('#Login').val(),
                    Nome: $('#Nome').val(),
                    Email: $('#Email').val(),
                    CodigoFornecedor: $('#Codigo').val()
                };

                // Grava no array os dados que serão salvos
                var usuarioSalvar = new Array();
                       usuarioSalvar.push({
                           Login: $('#Login').val(),
                           Nome: $('#Nome').val(),
                           Email: $('#Email').val(),
                           CodigoFornecedor: $('#Codigo').val()
                    });
               

                $.ajax({
                    url: '@Url.Action("CadastrarUsuario", "Usuario")',
                    type: 'POST',
                    cache: false,
                    data: JSON.stringify({ usuarioCadastroVm: dados }),
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    success: function (data) {
                        if (data.Sucesso) {
                            Mensagem.ExibirMensagemDeSucesso("O usuario foi cadastrado com sucesso.");
                            return;
                            //location.href = 'Url.Action("Index","Usuario")';

                        } else {
                            Mensagem.ExibirMensagemDeErro(data.Mensagem);
                        }

                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        Mensagem.ExibirMensagemDeErro('Ocorreu um erro ao consultar ao inserir o usuário. Detalhe: ' + textStatus + errorThrown);
                    }
                });


            });
        })


    </script>

}