@{
    ViewBag.TituloDaPagina = "Usuários";
}


<link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.common.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.default.min.css")" rel="stylesheet" />
<div id="cadastroUsuarios">
    <div id="divFiltros">
        <fieldset>
            <legend>Filtros</legend>
            <div class="coluna">
                @Html.Label("Login")
                @Html.TextBox("Login","", new{@class="campomedio"})
            </div>

            <div class="coluna">
                @Html.Label("Nome")
                @Html.TextBox("Nome","", new{@class="campogrande"})
            </div>
            <div class="divBotao">
                <input id="btnPesquisar" type="button" value="Pesquisar" class="blue"/>
                <input id="btnCadastrar" type="button" value="Cadastrar" class="blue"/>
                <input id="btnLimpar"    type="button" value="Limpar"    class="blue"/>
            </div>
        </fieldset>
    </div>
    <div id="gridUsuarios" class="divGrid"></div>

</div>

@section scripts
{
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.web.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.grid.min.js")"></script>
    <script>
        $(document).ready(function() {
            $("#gridUsuarios").customKendoGrid({
                dataSource: {
                    schema: {
                        data: 'Registros',
                        model: {
                            fields: {
                                Login: {type: "string"},
                                Nome: { type: "string" },
                                Email: { type: "string" },
                                Status: { type: "string" }
                            }
                        },
                        total: 'QuantidadeDeRegistros'
                    },
                    serverFiltering: true,
                    serverPaging: true,
                    transport: {
                        read: {
                            url: '@Url.Action("Listar", "Usuario")',
                            type: 'GET',
                            cache: false,
                            data: function() {
                                return {
                                    Login:$('#Login').val(),
                                    Nome: $('#Nome').val()
                                };
                            }
                        }
                    },
                    pageSize: 10
                },
                columns:
                [
                    {
                        field: 'Login',
                        title: ' ', /*coloco um espaço para deixar o header sem título*/
                        width: 30,
                        sortable: false,
                        template: '<input type="button" class="button_edit" data-login="${Login}"></input>'
                    },
                    {
                        width: 100,
                        field: "Login",
                        title: "Login"
                    },
                    {
                        field: "Nome",
                        width: 200
                    },
                    {
                        field: "CodigoFornecedor",
                        title:'Código do Representante',
                        width: 150
                    },
                    {
                        field: "Email",
                        title:"E-mail",
                        width: 200
                    },
                    {
                        field: "Status",
                        width: 80
                    }


                ]
            });

            //$('#btnPesquisar').click(function() {
            //    $("#gridUsuarios").data("kendoGrid").dataSource.read();
            //});

            $('#btnLimpar').click(function() {
                $('#divFiltros input[type!=button]').val('');
            });

            $('.button_edit').die("click");
            $('.button_edit').live("click", function(e) {
                e.preventDefault();
                location.href = '@Url.Action("EditarCadastro", "Usuario")' + '/?login=' + $(this).attr('data-login');
            });

            // Abre o formulario para Cadastrar novos usuarios
            $('#btnCadastrar').live("click", function (e) {
                location.href = '@Url.Action("CadastrarUsuario", "Usuario")';
            });
        });
    </script>
    
}
